<html lang="en">
    <head>
        <title> Hidden Comic </title>
        <link rel="stylesheet" href="styles.css">
        <meta charset="utf-8">
    </head>

    <body>
        <script>
            let pageNum = 2;
        </script>
        <nav id="socmedia">
            <a> <img src="images/facebook.png" alt="Facebook" > </a>
            <a> <img src="images/patreon.png" alt="Patreon" > </a>
            <a> <img src="images/insta.png" alt="Instagram"> </a>
            <a> <img src="images/twitter.png" alt="Twitter"> </a>
            <a>  <img src="images/tumblr.png" alt="Tumblr"> </a>
        </nav>
        <header id="header"> <!--TODO: porządne logo-->
                <a id="logo"> <!-- tu zalinkować główną stronę -->
                    <img src="images/LOGOb.png" alt="HIDDEN COMIC">
                </a>
        </header>

        <main id="middle">
            <nav id="menu">
                <a> About </a>
                <a> Cast </a>
                <a> Archive </a>
                <a> Links </a>
                <a> Facebook </a>
                <a> Patreon </a>
                <!-- TODO: tu będą about cast archive linki, ale to zrobię cssem -->
            </nav>
            <nav id="navtop">
                <a> <img src="images/first.png" alt="First page"> </a>
                <a> <img src="images/previous.png" alt="Previous page"> </a>
                <a> <img src="images/next.png" alt="Next page"> </a>
                <a> <img src="images/last.png" alt="Last page"> </a>
            </nav>
            <div id="comicbody">
                 <!-- TODO: zrobić stronę progressbar. to jest ta część która się zmienia przyciskami -->
                <img title="Mock page" src="<%= picture_url %>" alt="3/17 pages finished" id="comic" >
            </div>

            <nav id="navbottom">
                <a> <img src="images/first.png" alt="First page"> </a>
                <a> <img src="images/previous.png" alt="Previous page"> </a>
                <a> <img src="images/next.png" alt="Next page"> </a>
                <a> <img src="images/last.png" alt="Last page"> </a>
            </nav>
            <div id="content">
                <!--  TODO: PÓŹNIEJ ogarnąć jak trzymać te posty, w json??? -->
                <!-- tu będzie post na informacje-->
                <!-- tu będą komentarze z disqusa -->

            </div>
        </main>

        <footer>
            <p>
                Comic, all images and website © Leksa Willin
            </p>
            <nav id="socmediabottom">
                <a> <img src="images/facebook.png" alt="Facebook" > </a>
                <a> <img src="images/patreon.png" alt="Patreon" > </a>
                <a> <img src="images/insta.png" alt="Instagram"> </a>
                <a> <img src="images/twitter.png" alt="Twitter"> </a>
                <a>  <img src="images/tumblr.png" alt="Tumblr"> </a>
            </nav>
        </footer>
    </body>


</html>