/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html {
    background-color: #392B48;
}

body {
    /* Structure   */
    margin: 10px auto 100px;

    /* Style */
    text-align: center;
    background: #554665 url("images/background.png");
    color: #CD96C6;
    font-family: itim;

}

@font-face {
    font-family: itim;
    src: url("../../resources/fonts/Itim.ttf");
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*~~~~~~~~~~~HEADER~~~~~~~~~~~ */
header{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 40%;
    position: relative;
}

header img{
    max-width: 100%;
    max-height: 100%;
    min-width: 500px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*~~~~~~~~~~~FOOTER~~~~~~~~~~~ */
footer {
    background-color: #392B48;
    padding-top: 30px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*Social Media*/

#socmedia {
    text-align: right;
    background-color: #392B48;
    padding-right: 10px;
}

#socmedia img, #socmediabottom img{
    width: 50px;
    margin-left: 5px;
    margin-right:5px;
    transition: width 500ms;
}

#socmedia img:hover, #socmediabottom img:hover{
    width:60px;
}

/*~~~~~~*/

/*Navigation*/
#navtop img, #navbottom img{
    width:90px;
    transition: width 500ms;
}

#navtop img:not(.inactive):hover, #navbottom img:not(.inactive):hover{
    width: 100px;
}

.inactive {
    opacity: 0.5;
}
/*~~*/

#menu {
    /* Structure */
    display: inline-flex;
    justify-content: space-evenly;
    padding: /*ver*/ 10px /*hor*/ 15px;
    margin-bottom: 20px;
    width:60%;
    min-width:500px;

    /* Style */
    background-color: #392B48;
    font-size: 25px;
    border-radius: 20px 20px 20px 20px;
}

#menu a:hover{
    font-size: 30px;
}

#middle{
    /*Structure*/
    width:60%;
    min-width:600px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px 20px 20px 20px;

    /*Position*/
    position: relative;

    /*Style*/
    background-color: black;
    border-radius: 40px 40px 40px 40px;

}

a:hover{
    cursor:pointer;
}

#comicbody img {
    max-width:100%;
    max-height:100%;
}