html {
    background-color: #392B48;
}

body {
    /* Style */
    text-align: center;
    background-color: #554665;
    color: #CD96C6;
    font-family: itim;
    margin: 20px auto 300px;

}

@font-face {
    font-family: itim;
    src: url("../resources/fonts/Itim.ttf");
}

header{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
    position: relative;
    right: 10%;
}

header img{
    max-width:100%;
    max-height:100%;
    min-width:600px;
}

footer {
    background-color: #392B48;
}


#socmedia {
    text-align: right;
    background-color: #392B48;
}

#menu {
    /* Structure */
    display: inline-flex;
    justify-content: space-evenly;
    padding: /*ver*/ 10px /*hor*/ 15px;
    width:80%;
    min-width:400px;

    /* Position */
    position: relative;
    bottom: 100px;
    left: 42%;

    /* Style */
    background-color: #392B48;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
}

#middle{
    background-color: black;
    width:60%;
    min-width:600px;
    margin-left: auto;
    margin-right:auto;
    padding: 20px 20px 20px 20px;
    border-radius: 40px 40px 40px 40px;
}

#comicbody img{
    max-width:100%;
    max-height:100%;
}