body {
    text-align: center;
    background-color: #554665;
    color: #CD96C6;
    font-family: itim;
    margin-top: 20px;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;

}
 html {
     background-color: #392B48;
 }

@font-face {
    font-family: itim;
    src: url("../resources/fonts/Itim.ttf");
}

footer {
    background-color: #392B48;
}

#socmedia {
    text-align: right;
    background-color: #392B48;
}

header{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width:50%;
    position: relative;
    right: 10%;
}

header img{
    max-width:100%;
    max-height:100%
}

#menu {
    background-color: #392B48;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 20px;
    display:flex;
    justify-content: space-evenly;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position:relative;
    top:-10%;
}